/.web-server-pid
	# there is no reason to avoid commiting this
	# /app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.vs/*
*.user
*.db
/TestResults/*
/uploads/*

/phpunit.xml.dist.tmppica
/app/sqlite_test.db-journal
*.tmppica
