<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MURR{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Font Awesome Icon pack-->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <!-- Import jquery and semantic ui from a CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    </head>
    <body>
        <!-- Encase the body/content of each page in whatever template you think is nice -->
        <div class="ui menu">
            <a class="item" href="/">Home</a>
            <a class="item" href="/property/search">Property</a>
            <a class="item" href="/container">Container</a>
        </div>

        <div class="ui container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
