<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MURR{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Font Awesome Icon pack-->
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
            <!--Jquery link-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {% endblock %}
    </body>
</html>
