{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui one column stackable center aligned page grid">
        <div class="column">
            <div class="ui stackable center aligned grid two column">


                <div class="column">
                    <h3 class="ui icon header">
                        <i class="book icon"></i>
                        <div class="content">
                            Communications
                        </div>
                    </h3>
                </div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="user icon"></i>
                        <div class="content">
                            Contacts
                        </div>
                    </h3>
                </div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="cubes icon"></i>
                        <div class="content">
                            Containers
                        </div>
                    </h3>
                </div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="building icon"></i>
                        <div class="content">
                            Properties
                        </div>
                    </h3>
                </div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="road icon"></i>
                        <div class="content">
                            Routes
                        </div>
                    </h3>
                </div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="truck icon"></i>
                        <div class="content">
                            Trucks
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}