{% extends 'base.html.twig' %}

{% block title %}Add Property{% endblock %}

{% block body %}

{% if showSuccess %}
    <h2>Successfully added property</h2>
{% endif %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
