{% extends 'base.html.twig' %}

{% block title %}
Add Container
{% endblock %}

{% block body %}
    <h1 class="ui header left attached top">Add Container</h1>

    <div class="ui bottom attached segment">
        {{ form_start(form) }}
            {{ form_widget(form) }}
             
            <a class="ui button" href="{{ path("container_search") }}">Cancel</a>
            <input type="submit" value="Add" class="ui button" id="btnCreate" />

        {{ form_end(form) }}
    </div>
{% endblock %}
