/*
    CSS for the footer.
*/
/* Used on the body so that when the page can resize itself without issue */
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Used on the footer itself so it can resize */
.Site-content {
    flex: 1;
}

.column {
    max-width: max-content;
}

/*  Add this class to all columns that are being used a content separators
    This will allow them to have space between other pieces of content
*/
.contentSection {
    margin-bottom: 1rem;
}

form[name="appbundle_truck"] .two.buttons .field{
    display: inline;
}
/*form .field {
    display: inline;
}*/
.buttons {
    margin: 1rem 0 0;
}

form .label, input {
    clear: both;
}