/*
    CSS for the footer.
*/
.ui.inverted.footer.segment {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#test {
    color:red;
    background-color: red;
}


