
/*
    CSS Styles for Edit Forms
*/

/*
    CSS for any tables on the page
*/
table {
    width: 100%
}

#appbundle_container_property {
    margin-right: 10px
}

#appbundle_container_containerSerial {
    margin-right: 10px
}

#appbundle_container_containerSerial[readonly] {
    background-color: lightgrey
}

#btnUnlock {
    width: 12%
}

#unlockIcon {
    padding-left: 15%
}

#btnSearch {
    float: left
}

#btnDelete {
    float: left;
    margin-bottom: 25px
}

#btnSave {
    float: left
}
