{% extends 'base.html.twig' %}

{% block title %}Commununication Search | M.U.R.R.{% endblock %}

{% block body %}
	<h2>Communication Search <a href="{{ path('new_communication') }}" class="ui icon button green" id="newCommunication"><i class="plus icon"></i></a></h2>
{% endblock %}
