{% extends 'base.html.twig' %}

{% block title %}View Communication{% endblock %}

{% block body %}
	<h2>Communication Search <a href="{{ path('new_communication') }}" class="ui icon button green"><i class="plus icon"></i></a></h2>
{% endblock %}
