{% extends 'base.html.twig' %}

{% block title %}All Contacts{% endblock %}

{% block body %}

<a href="{{ path('contact_add') }}" hint="Add a new contact">Add a new contact</a>

<h2>List of contacts</h2>

{% endblock %}
