{% extends 'base.html.twig' %}

{% block title %}Add Contact | M.U.R.R.{% endblock %}

{% block body %}
<div class="ui text container">
    <h2 class="ui header left attached top">Add Contact</h2>
	<div class="ui bottom attached segment">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="ui buttons">
		    <a class="ui button" href="{{ path("contact_search") }}" id="cancelButton">Cancel</a>
            <input class="ui green button" type="submit" value="Add" />
        </div>

    {{ form_end(form) }}
	</div>
</div>
{% endblock %}
